:root {
    --pacifico-font: 'pacifico', sans-serif;
    --cookie-font: 'cookie', sans-serif;
    --interTight-regular: 'inter-tight', sans-serif;
    --interTight-semibold: 'inter-tight-semibold', sans-serif;
    --main-blue: #1fb3dc;
    --main-red: #ce2339;
    --black: #303030;
}

.home {
    background-color: var(--main-blue);
    position: relative;
    /* top: 4rem; */
    width: 100%;
    max-width: 1500px;
    min-height: calc(100vh - 4rem);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.home .hero {
    justify-self: center;
    align-self: center;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .hero h1 {
    font-size: 4rem;
    font-family: var(--cookie-font);
    color: var(--black);
    text-align: center;
}

.home .hero div {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.home .hero div button {
    font-size: 1.2rem;
    font-family: var(--interTight-semibold);
    padding: 0.5rem 1.5rem;
    margin: 0 0.5rem;
    background-color: transparent;
    border: 2px solid var(--main-red);
    color: var(--main-red);
    cursor: pointer;
    transition: all ease 0.2s;
}

.home .hero div .menu-btn {
    background-color: var(--main-red);
    color: #fff;
}

.home .hero div button:hover {
    transform: scale(1.2);
}

.home .cover-wrapper {
    width: 30rem;
}

.home .cover-wrapper .cover {
    width: 100%;
}

@media screen and (max-width: 756px){
    .home header img {
        display: none;
    }
    nav {
        position: static;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 486px) {
    html {
        font-size: 80%;
    }
    header {
        flex-direction: column;
    }
    .home .cover-wrapper {
        width: 100%;
    }
}